.main {
    margin: 30px;
    background-color: white;
}

body {
    background-color: #efefef;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 35px;
    height: 35px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.section-style {
    margin: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin: 5px;
}

.jumbotron {
    margin: 45px;
}

.comment {
    margin: 10px 0;
}

.media-body {
    padding: 7px;
}

.btn-comment {
    float: right;
}

.margin_setting {
    margin-top: 5px;
}

.menu .icon {
    padding: 0 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active {
    color: #499ef3;
}

.border-set {
    border: 1px solid #eee;
    padding-top: 14px;
    margin-top: 15px;
    border-radius: 16px;
}

.tag-distance {
    margin-right: 10px;
}

.menu {
    color: #999;
}

.menu .icon:hover {
    color: #499ef3;
}

.publish-tag-tap {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tap .tab-pane {
    margin-top: 10px;
}

.publish-tag-tap .tab-pane .label-info {
    margin-right: 10px;
}

.publish-tag-tap .label-info .glyphicon-tags {
    margin: 10px;
}

.comment-pad {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.btn-comment {
    margin: 15px 0px;
}