.main{
    margin:30px;
    background-color:white;
}
body{
    background-color:#efefef;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 35px;
    height: 35px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.section-style{
    margin: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
    margin: 5px;
}
.jumbotron{
    margin: 45px;
}
.comment{
    margin: 10px 0;
}
.media-body{
    padding: 7px;
}
.btn-comment{
    float: right;
}