<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>码匠社区</title>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:fragment="foot" class="footer">
    <div>Copyright © 2019  ICP备000000号 · 服务器赞助: <a href="https://passport.ucloud.cn/?invitation_code=nmtbj0lvttvx&ytag=re01B1">UCloud</a> · All Rights Reserved Powered By <a href="http://www.mawen.co" target="_blank"> 码问社区 </a></div>
</div>
</body>

</body>
</html>