<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>码匠社区</title>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navgation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr />
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}" placeholder="问题描述">
                </div>
                <div class="form-group">
                    <label for="title">问题补充：</label>
                    <textarea name="description" id="description" class="form-control" rows="10" cols="30" th:text="${description}" placeholder="输入你的描述"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="输入标签，以逗号隔开">
                </div>
                <div class="alert alert-warning" role="alert" th:text="${error}" th:if="${error} != null">
                    <<span class="caret"></span>
                </div>
                <button type="submit" class="btn btn-success btn-publish">确认发起</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            右边的这些东西我就先不写了，谢谢！进不去那个网站。
        </div>
    </div>
</div>
</body>
</html>